body{
    background-color: yellow;
    font-family: cursive;
}
form{
    border: 3px solid;
}
input:required{
    border: 2px groove violet;
}
/*input:not(:required){
    border: 2px dashed violet;
}*/
input:optional{
   
    border: 2px dashed violet;

}
input:disabled{
    border: 2px dotted violet;
}

input:read-only{
    background-color: gray;
}
p{
    display: none;
}
input:hover + p{
    display: inline;
    font-family: monospace;
    background-color: red;
}
input:focus{
    background-color: silver;
    font-weight: bold;
}
img{
    display: none;
}
input[type="email"]:focus:valid ~ img.valid{
    display: inline;
    width: 20px;
    height: 20px;
}
input[type="email"]:focus:invalid ~ img.invalid{
    display: inline;
    width: 20px;
    height: 20px;
}
input[type:"radio"]:checked{
    width: 20px;
    height: 20px;
}
input[type="radio"]:checked + label{
    color: red;
}
input[type="submit"]{
    border: 2px solid violet;
}